<%= form_tag({ :controller => "parties", :action => action }, :method => method ) do %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
	      <% @party.errors.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field invisible">
    <%= label_tag :rdf_uri, 'URI' %><br />
    <%= text_field_tag(:rdf_uri, @party.rdf_uri)  %>
  </div>

  <div class="field">
    <%= label_tag :party_name, 'Nombre' %><br />
    <%= text_field_tag(:party_name, @party.party_name)  %>
  </div>

  <div class="actions">
    <%= submit_tag('Guardar') %>
  </div>
<% end %>
