<h1>Partidos</h1>

<table>
	<thead>
		<tr>
			<th>Uri</th>
			<th>Sequence</th>
			<th>Name</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @parties.each do |party| %>
		<tr>
			<td><%= party.rdf_uri %></td>
			<td><%= party.party_id %></td>
			<td><%= party.party_name %></td>
			<td><%= link_to 'Mostrar', rdf_party_path(party.id) %></td>
			<td><%= link_to 'Editar', edit_rdf_party_path(party.id) %></td>
			<td><%= link_to 'Destruír', destroy_rdf_party_path(party.id), confirm: 'Está seguro?', :method => :delete %></td>
		</tr>
		<% end %>
	<tbody>
</table>

<br />

<%= link_to 'Nuevo Partido', new_rdf_party_path %>
