<h1>Listing parties</h1>

<table>
	<thead>
		<tr>
			<th>Uri</th>
			<th>Sequence</th>
			<th>Name</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @parties.each do |party| %>
		<tr>
			<td><%= party.rdf_uri %></td>
			<td><%= party.party_id %></td>
			<td><%= party.party_name %></td>
			<td><%= link_to 'Show', rdf_party_path(party.id) %></td>
			<td><%= link_to 'Edit', edit_rdf_party_path(party.id) %></td>
			<td><%= link_to 'Destroy', destroy_rdf_party_path(party.id), confirm: 'Are you sure?' %></td>
		</tr>
		<% end %>
	<tbody>
</table>

<br />

<%= link_to 'New Party', new_rdf_party_path %>
