<h1>Partidos</h1>

<table>
	<thead>
		<tr>
			<th>Uri</th>
			<th>Name</th>
			<th>Fecha fundación</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @parties.each do |party| %>
		<tr>
			<td><%= party.rdf_uri %></td>
			<td><%= party.party_name %></td>
			<td><%= party.party_foundation_date %></td>
			<td><%= link_to 'Mostrar', rdf_party_path(party.id) if party.has_url? %></td>
		</tr>
		<% end %>
	<tbody>
</table>

<%= will_paginate @paginated_parties %>

<br />

<%= link_to 'Nuevo Partido', new_rdf_party_path %>
