<%= form_for(@observation) do |f| %>
	<% if @observation.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>
			<ul>
				<% @observation.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :ot_id, "OT" %><br />
	    <%= collection_select(:observation, :ot_id, OtType.order("name ASC"), :id, :name) %>
	</div>

	<div class="field">
		<%= f.label :user_id, "Usuario" %><br />
	    <%= collection_select(:observation, :user_id, User.order("user_name ASC"), :id, :user_name) %>
	</div>

	<div class="field">
		<%= f.label :observation_type_id, "Tipo de observación" %><br />
	    <%= collection_select(:observation, :observation_type_id, ObservationType.all, :id, :name) %>
	</div>

	<div class="field">
		<%= f.label :contents, "Contenido" %><br />
		<%= f.text_area :contents %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
