<%= form_tag(submit_path) %>
	<%= hidden_field_tag(:ot_id, @ot.id) %>

	<fieldset>
		<legend>Estructural</legend>
		<%= check_box_tag("realizar_estructural", 'yes', true) %>Realizar
		<fieldset>
			<legend>Profundiad</legend>
			<%= radio_button_tag 'structural_extension', 'whole_document', true %>Documento entero<br />
			<%= radio_button_tag 'structural_extension', 'part_document' %>Limitar
			<fieldset>
				<%= check_box_tag('first_level', 'yes', false)%>Primer nivel<br />
				<%= check_box_tag('second_level', 'yes', false)%>Segundo nivel<br />
				<%= check_box_tag('third_level', 'yes', false)%>Tercer nivel<br />
			</fieldset>
		</fieldset>
	</fieldset>

	<fieldset>
		<legend>Semántico</legend>
		<%= check_box_tag("realizar_semantico", 'yes', true) %>Realizar
		<fieldset>
			<legend>Extensión</legend>
			<%= radio_button_tag 'semantic_extension', 'whole_document', true %>Documento entero<br />
			<%= radio_button_tag 'semantic_extension', 'part_document' %>Limitar
			<fieldset>
				<%= check_box_tag('persons', 'yes', false)%>Personas<br />
				<%= check_box_tag('organizations', 'yes', false)%>Organizaciones<br />
				<%= check_box_tag('documents', 'yes', false)%>Documentos<br />
				<%= check_box_tag('places', 'yes', false)%>Lugares<br />
			</fieldset>
			<legend>Profundidad</legend>
			<%= radio_button_tag 'semantic_depth', 'whole_document', true %>Todas las secciones<br />
			<%= radio_button_tag 'semantic_depth', 'part_document' %>Limitar
			<fieldset>
				<%= label_tag "Marca:" %>&nbsp;
				<%= text_field_tag('tag',) %>
			</fieldset>
		</fieldset>
	</fieldset>

	<div class="actions">
		<%= submit_tag "Marcar" %>
	</div>
</form>
