<p>
  <b>Nombre:</b>
  <%= @task_type.name %>
</p>

<p>
  <b>Rol:</b>
  <%= @task_type.role.name %>
</p>

<p>
  <b>Ordinal:</b>
  <%= @task_type.ordinal.to_s %>
</p>


<%= link_to 'Edit', edit_task_type_path(@task_type) %> |
<%= link_to 'Back', task_types_path %>
