<p>
  <b>Structural markup enabled:</b>
  <%= @am_configuration.structural_markup_enabled %>
</p>

<p>
  <b>Structural markup extension whole document:</b>
  <%= @am_configuration.structural_markup_extension_whole_document %>
</p>

<p>
  <b>Structural markup extension first level:</b>
  <%= @am_configuration.structural_markup_extension_first_level %>
</p>

<p>
  <b>Structural markup extension second level:</b>
  <%= @am_configuration.structural_markup_extension_second_level %>
</p>

<p>
  <b>Structural markup extension third level:</b>
  <%= @am_configuration.structural_markup_extension_third_level %>
</p>

<p>
  <b>Structural markup depth all:</b>
  <%= @am_configuration.structural_markup_depth_all %>
</p>

<p>
  <b>Structural markup depth mark:</b>
  <%= @am_configuration.structural_markup_depth_mark %>
</p>

<p>
  <b>Semantic markup enabled:</b>
  <%= @am_configuration.semantic_markup_enabled %>
</p>

<p>
  <b>Semantic markup extension whole document:</b>
  <%= @am_configuration.semantic_markup_extension_whole_document %>
</p>

<p>
  <b>Semantic markup extension persons:</b>
  <%= @am_configuration.semantic_markup_extension_persons %>
</p>

<p>
  <b>Semantic markup extension organizations:</b>
  <%= @am_configuration.semantic_markup_extension_organizations %>
</p>

<p>
  <b>Semantic markup extension documents:</b>
  <%= @am_configuration.semantic_markup_extension_documents %>
</p>

<p>
  <b>Semantic markup extension places:</b>
  <%= @am_configuration.semantic_markup_extension_places %>
</p>

<p>
  <b>Semantic markup depth all:</b>
  <%= @am_configuration.semantic_markup_depth_all %>
</p>

<p>
  <b>Semantic markup depth mark:</b>
  <%= @am_configuration.semantic_markup_depth_mark %>
</p>


<%= link_to 'Edit', edit_am_configuration_path(@am_configuration) %> |
<%= link_to 'Back', am_configurations_path %>
