<%= render "shared/work_header" %>

<table>
	<tr>
		<th>Organismo de origen</th>
		<td><%= @poblamiento_param.frbr_entity.name %></td>
	</tr>
	<tr>
		<th>Prioridad</th>
		<td><%= @poblamiento_param.priority.name %></td>
	</tr>
	<tr>
		<th>Intermediario</th>
		<td><%= @poblamiento_param.intermediary.name unless @poblamiento_param.intermediary.nil? %></td>
	</tr>
	<tr>
		<th>Localización</th>
		<td><%= @poblamiento_param.location.name %></td>
	</tr>
	<tr>
		<th>Formato</th>
		<td><%= @poblamiento_param.file_format.format_spec %></td>
	</tr>
	<tr>
		<th>Desde</th>
		<td><%= @poblamiento_param.start_date %></td>
	</tr>
	<tr>
		<th>Hasta</th>
		<td><%= @poblamiento_param.end_date %></td>
	</tr>
</table>

<h2>Resumen</h2>
<table>
	<thead>
		<tr>
			<th colspan="2">Legislaturas</th>
			<th colspan="2">Sesiones</th>
			<th colspan="4">Procesamiento</th>
		</tr>
		<tr>
			<th>Desde</th>
			<th>Hasta</th>
			<th>Desde</th>
			<th>Hasta</th>
			<th>Total</th>
			<th>Ninguno</th>
			<th>Parcial</th>
			<th>Completo</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @poblamiento_generated_params.earliest_legislature(@ot.id) %></td>
			<td><%= @poblamiento_generated_params.latest_legislature(@ot.id) %></td>
			<td><%= @poblamiento_generated_params.earliest_session(@ot.id) %></td>
			<td><%= @poblamiento_generated_params.latest_session(@ot.id) %></td>
			<td><%= @poblamiento_generated_params.total_processing(@ot.id) %></td>
			<td><%= @poblamiento_generated_params.number_no_processing(@ot.id) %></td>
			<td><%= @poblamiento_generated_params.number_partial(@ot.id) %></td>
			<td><%= @poblamiento_generated_params.number_complete(@ot.id) %></td>
		</tr>
	</tbody>
</table>

<h2>OTs a generar</h2>
<table>
	<thead>
		<tr>
			<th>Legislatura</th>
			<th>Sesión</th>
			<th>Fecha</th>
			<th>Procesamiento</th>
		</tr>
	</thead>
	<tbody>
		<% @poblamiento_generated_params.each do |pgp| %>
		<tr>
			<td><%= pgp.legislature.to_s %></td>
			<td><%= pgp.session.to_s %></td>
			<td><%= pgp.session_date %></td>
			<td><%= pgp.processing %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= form_tag(plan_poblamiento_create_genera_ots_path) %>
	<%= hidden_field_tag(:ot_id, @ot.id) %>

	<div class="actions">
		<%= submit_tag "Generar OTs" %>
	</div>
</form>

|&nbsp;<%= link_to "Modificar parametros", plan_poblamiento_rechazar_parametros_event_path(@task.id) %>&nbsp;|