<%= form_for(@markup_tool) do |f| %>
  <% if @markup_tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@markup_tool.errors.count, "error") %> prohibited this markup_tool from being saved:</h2>

      <ul>
      <% @markup_tool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
