<%= form_for(@task) do |f| %>
	<% if @task.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
			<ul>
				<% @task.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :ot_id, "OT a que pertenece a" %><br />
	    <%= collection_select(:task, :ot_id, Ot.all, :id, :name) %>
	</div>

	<div class="field">
		<%= f.label :task_type_id, "Tipo" %><br />
	    <%= collection_select(:task, :task_type_id, TaskType.all, :id, :name) %>
	</div>

	<div class="field">
		<%= f.label :priority_id, "Prioridad" %><br />
	    <%= collection_select(:task, :priority_id, Priority.all, :id, :name) %>
	</div>

	<div class="field">
		<%= f.label :created_by, "Creada por" %><br />
	    <%= collection_select(:task, :created_by, User.all, :id, :user_name) %>
	</div>

	<div class="field">
		<%= f.label :current_user_id, "Asignada a" %><br />
	    <%= collection_select(:task, :current_user_id, User.all, :id, :user_name) %>
	</div>

	<div class="field">
		<%= f.label :created_on %><br />
		<%= f.datetime_select :created_on %>
	</div>

	<div class="field">
		<%= f.label :completed_on %><br />
		<%= f.datetime_select :completed_on %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
