<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Created by</th>
    <th>Created on</th>
    <th>Completed on</th>
    <th>Current user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.priority %></td>
    <td><%= task.created_by %></td>
    <td><%= task.created_on %></td>
    <td><%= task.completed_on %></td>
    <td><%= task.current_user_id %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
