<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority.name %>
</p>

<p>
  <b>Created by:</b>
  <%= @task.owner.user_name %>
</p>

<p>
  <b>Created on:</b>
  <%= @task.created_on %>
</p>

<p>
  <b>Completed on:</b>
  <%= @task.completed_on %>
</p>

<p>
  <b>Current user:</b>
  <%= @task.current_user.user_name %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
