<h1>Tipos de OT</h1>

<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @ot_types.each do |ot_type| %>
		<tr>
			<td><%= ot_type.name %></td>
			<td><%= link_to 'Show', ot_type %></td>
			<td><%= link_to 'Edit', edit_ot_type_path(ot_type) %></td>
			<td><%= link_to 'Destroy', ot_type, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Ot type', new_ot_type_path %>
