<p id="notice"><%= notice %></p>

<p>
  <b>Restrict chamber enabled:</b>
  <%= @tp_parameter.restrict_chamber_enabled %>
</p>

<p>
  <b>Organism:</b>
  <%= @tp_parameter.organism_id %>
</p>

<p>
  <b>Legislature:</b>
  <%= @tp_parameter.legislature_id %>
</p>

<p>
  <b>Session:</b>
  <%= @tp_parameter.session_id %>
</p>

<p>
  <b>Restrict date enabled:</b>
  <%= @tp_parameter.restrict_date_enabled %>
</p>

<p>
  <b>From date:</b>
  <%= @tp_parameter.from_date %>
</p>

<p>
  <b>To date:</b>
  <%= @tp_parameter.to_date %>
</p>

<p>
  <b>Restrict person enabled:</b>
  <%= @tp_parameter.restrict_person_enabled %>
</p>

<p>
  <b>Party:</b>
  <%= @tp_parameter.party_id %>
</p>

<p>
  <b>Person:</b>
  <%= @tp_parameter.person_id %>
</p>

<p>
  <b>Participation type:</b>
  <%= @tp_parameter.participation_type_id %>
</p>

<p>
  <b>Quality type:</b>
  <%= @tp_parameter.quality_type_id %>
</p>

<p>
  <b>Free search enabled:</b>
  <%= @tp_parameter.free_search_enabled %>
</p>

<p>
  <b>Free search text:</b>
  <%= @tp_parameter.free_search_text %>
</p>

<p>
  <b>Taxonomy search enabled:</b>
  <%= @tp_parameter.taxonomy_search_enabled %>
</p>

<p>
  <b>Taxonomy category:</b>
  <%= @tp_parameter.taxonomy_category_id %>
</p>

<p>
  <b>Taxonomy term:</b>
  <%= @tp_parameter.taxonomy_term_id %>
</p>

<p>
  <b>Restrict document enabled:</b>
  <%= @tp_parameter.restrict_ds_enabled %>
</p>

<p>
  <b>Document type:</b>
  <%= @tp_parameter.document_type_id %>
</p>

<p>
  <b>Debate type:</b>
  <%= @tp_parameter.debate_type_id %>
</p>

<p>
  <b>Part:</b>
  <%= @tp_parameter.ds_part_id %>
</p>

<p>
  <b>Page:</b>
  <%= @tp_parameter.ds_page %>
</p>

<p>
  <b>Tome:</b>
  <%= @tp_parameter.ds_tome %>
</p>

<p>
  <b>Restrict law enabled:</b>
  <%= @tp_parameter.restrict_law_enabled %>
</p>

<p>
  <b>Bill:</b>
  <%= @tp_parameter.bill %>
</p>

<p>
  <b>Law:</b>
  <%= @tp_parameter.law %>
</p>


<%= link_to 'Edit', edit_tp_parameter_path(@tp_parameter) %> |
<%= link_to 'Back', tp_parameters_path %>
