<%= form_for(@delivery_method) do |f| %>
  <% if @delivery_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_method.errors.count, "error") %> prohibited this delivery_method from being saved:</h2>

      <ul>
      <% @delivery_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
