<h1>Listing participation_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participation_types.each do |participation_type| %>
  <tr>
    <td><%= participation_type.name %></td>
    <td><%= participation_type.uri %></td>
    <td><%= link_to 'Show', participation_type %></td>
    <td><%= link_to 'Edit', edit_participation_type_path(participation_type) %></td>
    <td><%= link_to 'Destroy', participation_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participation type', new_participation_type_path %>
