<h1>Tipos de participación</h1>

<table>
	<thead>
		<tr>
			<th>Uri</th>
			<th>Sequence</th>
			<th>Name</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @participation_types.each do |participation_type| %>
		<tr>
			<td><%= participation_type.rdf_uri %></td>
			<td><%= participation_type.participation_type_id %></td>
			<td><%= participation_type.participation_type_name %></td>
			<td><%= link_to 'Show', rdf_participation_type_path(participation_type.id) %></td>
			<td><%= link_to 'Edit', edit_rdf_participation_type_path(participation_type.id) %></td>
			<td><%= link_to 'Destroy', destroy_rdf_participation_type_path(participation_type.id), confirm: 'Are you sure?', method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'Nuevo tipo de participación', new_rdf_participation_type_path %>
