<table>
	<tr>
		<th>Fecha de ejecución:</th>
		<td><%= @am_result.run_date %></td>
	</tr>
	<tr>
		<th>OT:</th>
		<td><%= @am_result.ot.name %></td>
	</tr>
</table>

<table>
	<thead>
		<tr>
			<th>Tipo</th>
			<th>Línea</th>
			<th>Descripcion</th>
		</tr>
	</thead>
	<tbody>
		<% @am_result.am_observations.each do |am_obs| %>
		<tr>
			<td><%= am_obs.am_run_observation_type.name %></td>
			<td><%= am_obs.line.to_s %></td>
			<td><%= am_obs.contents %></td>
		</tr>
		<% end %>
	</tbody>
</table>

