<div id="menu-accordion">
	<% if !current_user.nil? %>
		<h3><a href="#"><%=t "Bandeja" %></a></h3>
		<div>
			<ul class="menu-list">
			  <li><%= link_to(t('Bandeja de entrada'), root_path) %>
			  <% if current_user.role.id == 5 || current_user.role.id == 3 %>
			  	<li><%= link_to(t('Nueva OT'), home_new_ot_path) %>
			  	<li><%= link_to(t('Carga de trabajo'), work_load_path) %>
			  	<li><%= link_to(t('Limpiar base de datos'), clear_database_path) %>
			  <% end %>
			</ul>
		</div>
		
		<% if current_user.role.id == 5 %>
			<h3><a href="#"><%=t 'Usuarios' %></a></h3>
			<div>
				<ul class="menu-list">
				  <li><%= link_to(t('Roles'), roles_path) %>
				  <li><%= link_to(t('Usuarios'), users_path) %>
				  <li><%= link_to(t('Usuarios por defecto'), default_users_by_ot_types_path) %>
				</ul>
			</div>
			<h3><a href="#"><%=t "Documentos" %></a></h3>
			<div>
				<ul class="menu-list">
				  <li><%= link_to(t('Entidades FRBR'), frbr_entities_path) %>
				  <li><%= link_to(t('Medios de entrega'), delivery_methods_path) %>
				  <li><%= link_to(t('Intermediarios'), intermediaries_path) %>
				  <li><%= link_to(t('Tipos FRBR BCN'), frbr_bcn_types_path) %>
				  <li><%= link_to(t('Tipos de Documento FRBR'), frbr_document_types_path) %>
				  <li><%= link_to(t('Manifestaciones FRBR'), frbr_manifestations_path) %>
				  <li><%= link_to(t('Expresiones FRBR'), frbr_expressions_path) %>
				  <li><%= link_to(t('Obras FRBR'), frbr_works_path) %>
				</ul>
			</div>
			<h3><a href="#"><%=t 'OTs' %></a></h3>
			<div>
				<ul class="menu-list">
				  <li><%= link_to(t('Herramientas'), markup_tools_path) %>
				  <li><%= link_to(t('Versiones de documentos'), target_document_versions_path) %>
				  <li><%= link_to(t('Prioridades'), priorities_path) %>
				  <li><%= link_to(t('Tipos de tarea'), task_types_path) %>
				  <li><%= link_to(t('Tiempos de tareas'), task_transitions_path) %>
				  <li><%= link_to(t('Tareas'), tasks_path) %>
				  <li><%= link_to(t('Traza'), audits_path) %>
				  <li><%= link_to(t('Estados de la OT'), ot_states_path) %>
				  <li><%= link_to(t('Tipos de Observaciones'), observation_types_path) %>
				  <li><%= link_to(t('Observaciones'), observations_path) %>
				  <li><%= link_to(t('Tipos de OT'), ot_types_path) %>
				  <li><%= link_to(t('OTs'), ots_path) %>
				</ul>
			</div>
			<h3><a href="#"><%=t 'Marcado Automático' %></a></h3>
			<div>
				<ul class="menu-list">
				  <li><%= link_to(t('Configuración general'), AmModuleConfiguration.first) %>
				  <li><%= link_to(t('Configuraciones por tipo de documento'), doc_type_am_configurations_path) %>
				  <li><%= link_to(t('Configuraciones generadas por MA'), am_configurations_path) %>
				  <li><%= link_to(t('Tipos de observaciones'), am_run_observation_types_path) %>
				  <li><%= link_to(t('Resultados'), am_results_path) %>
				  <li><%= link_to(t('Observaciones'), am_observations_path) %>
				</ul>
			</div>
			<h3><a href="#"><%=t 'Poblamiento' %></a></h3>
			<div>
				<ul class="menu-list">
				  <li><%= link_to(t('Localizaciones'), poblamiento_import_locations_path) %>
				  <li><%= link_to(t('Formato ficheros históricos'), poblamiento_file_formats_path) %>
				  <li><%= link_to(t('Parámetros de poblamiento'), poblamiento_params_path) %>
				  <li><%= link_to(t('Parámetros generados'), poblamiento_generated_params_path) %>
				</ul>
			</div>
		<% end %>
	<% end %>
</div>
