<%= form_tag(save_xml_document) %>
	<%= hidden_field_tag(:ot_id, @ot.id) %>

	<div class="xml-editor">
		<% if current_user.role.id == 1 %>
			<%= text_area_tag "xml_text", @xml_text %>
		<% else %>
			<%= text_area_tag "xml_text", @xml_text, :readonly => true %>
		<% end %>
	</div>

	<% if current_user.role.id == 1 %>
		<div class="actions">
			<%= submit_tag "Guardar" %>
		</div>
	<% end %>
</form>
