<%= form_for(@ot, :url => create_new_ot_path) do |f| %>
	<% if @ot.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@ot.errors.count, "error") %> prohibited this ot from being saved:</h2>
			<ul>
				<% @ot.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
	    <%= f.label(:ot_type_id, 'Tipo') %><br />
	    <%= f.select :ot_type_id, OtType.order("name ASC").map { |t| [t.name, t.id] }, :selected => @ot.ot_type_id %>
	</div>

	<div class="field invisible">
	    <%= f.label(:ot_state_id, 'Estado') %><br />
	    <%= f.select :ot_state_id, OtState.all.map { |s| [s.name, s.id] }, :selected => @ot.ot_state_id %>
	</div>

	<div class="field">
	    <%= f.label(:priority_id, 'Prioridad') %><br />
	    <%= f.select :priority_id, Priority.all.map { |p| [p.name, p.id] }, :selected => @ot.priority_id %>
	</div>

	<div class="field invisible">
	    <%= f.label(:created_by, 'Creada por') %><br />
	    <%= f.select :created_by, User.all.map { |u| [u.email, u.id] }, :selected => @ot.created_by %>
	</div>

	<div class="field">
	    <%= f.label(:by_request_of, 'A pedido de') %><br />
	    <%= f.text_field(:by_request_of) %>
	</div>

	<div class="field">
		<%= f.label :target_date, "Fecha de entrega" %><br />
		<%= f.datetime_select :target_date %>
	</div>

	<%= f.fields_for :observations do | observation_form | %>
		<div class="field invisible">
			<%= observation_form.label :user_id, "Usuario" %><br />
		    <%= observation_form.text_field :user_id %>
		</div>

		<div class="field">
			<%= observation_form.label :observation_type_id, "Tipo de observación" %><br />
		    <%= observation_form.select :observation_type_id, ObservationType.all.map { |o| [o.name, o.id] } %>
		</div>

		<div class="field">
			<%= observation_form.label :contents, "Observaciones" %><br />
			<%= observation_form.text_area :contents %>
		</div>
	<% end %>

	<div class="actions">
		<%= f.submit "Generar" %>
	</div>
<% end %>
