<h1><%= table_title %></h1>

<%= render :partial => "ot_filter", :locals => { :show_button_id => show_button_id, :filter_selector_id => filter_selector_id } %>

<table>
	<thead>
		<tr>
			<th>Número de serie</th>
			<th>OT</th>
			<th>Prioridad</th>
			<th>Estado</th>
			<th>Tarea</th>
			<th>Creada el</th>
			<th>Completada el</th>
		</tr>
	</thead>
	<tbody>
	<% ots.each do |ot| %>
		<% if ot.completed_on.nil? && DateTime.now > ot.target_date %>
			<tr class="ot-overdue">
		<% else %>
			<tr>
		<% end %>
			<td><%= ot.serial_number %></td>
			<td><%= link_to ot.name, mostrar_ot_path(ot.id) %></td>
			<td><%= ot.priority.name %></td>
			<td>
				<% if !ot.current_task.nil? %>
					<%= ot.current_task_name + " / " + ot.current_step %>
				<% else %>
					Estado desconocido
				<% end %>
			</td>
			<td>
				<% if ot.current_task.current_user_id == current_user.id %>
					<%= link_to ot.current_step, ot.current_task.controller_action(ot.current_step) %>
				<% else %>
					<%= ot.current_task.name %>
				<% end %>
			</td>
			<td><%= ot.created_on %></td>
			<td><%= ot.completed_on %></td>
		</tr>
	<% end %>
	</tbody>
</table>
