<h1><%= table_title %></h1>

<table>
	<thead>
		<tr>
			<th>Número de serie</th>
			<th>OT</th>
			<th>Estado</th>
			<th>Prioridad</th>
			<th>Creada el</th>
			<th>Completada el</th>
		</tr>
	</thead>
	<tbody>
	<% ots.each do |ot| %>
		<tr>
			<td><%= link_to ot.serial_number, mostrar_ot_path(ot.id) %></td>
			<td><%= ot.name %></td>
			<td>
				<% if !ot.current_task.nil? %>
					<%= ot.current_task_name + "/" + ot.current_step %>
				<% else %>
					Estado desconocido
				<% end %>
			</td>
			<td><%= ot.priority.name %></td>
			<td><%= ot.created_on %></td>
			<td><%= ot.completed_on %></td>
		</tr>
	<% end %>
	</tbody>
</table>
