<h1><%= table_title %></h1>

<%= render :partial => "ot_filter", :locals => { :show_button_id => show_button_id, :filter_selector_id => filter_selector_id } %>

<table class="tray">
	<thead>
		<tr>
			<th class="etAscending">Número de serie</th>
			<th class="etUnsorted">OT</th>
			<th>Estado</th>
			<th>OT G/OT A</th>
			<th>Legislatura</th>
			<th>Cámara</th>
			<th>Sesión</th>
			<th>Prioridad</th>
			<th>Flujo</th>
			<th>Actividad</th>
			<th>Participantes</th>
			<th>Observaciones</th>
			<th>Creada</th>
			<th>Actualización</th>
			<th>Entrega</th>
			<th>Completada</th>
			<% if current_user.role.id == 1 || current_user.role.id == 3 %>
				<th></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
	<% ots.each do |ot| %>
		<% if ot.completed_on.nil? && DateTime.now > ot.target_date %>
			<tr class="ot-overdue">
		<% else %>
			<tr>
		<% end %>
			<td><%= link_to ot.serial_number, mostrar_ot_path(ot.id) %></td>
			<td><%= ot.ot_type.name %></td>
			<td><%= ot.state %>
			<td><%= ot.parent_ot.serial_number if !ot.parent_ot.nil? %></td>
			<td><%= ot.source_frbr_manifestation.frbr_expression.frbr_work.legislature.to_s if !ot.source_frbr_manifestation.nil? %>
			<td><%= ot.source_frbr_manifestation.frbr_expression.frbr_work.frbr_entity.name if !ot.source_frbr_manifestation.nil? %>
			<td><%= ot.source_frbr_manifestation.frbr_expression.frbr_work.session.to_s if !ot.source_frbr_manifestation.nil? %>
			<td><%= ot.priority.name %></td>
			<td>
				<% if !ot.completed_on.nil? %>
					OT completda
				<% elsif !ot.current_task.nil? %>
					<%= ot.current_task_name %>
				<% else %>
					Estado desconocido
				<% end %>
			</td>
			<td>
				<% if ot.current_task.current_user_id == current_user.id && ot.current_task.completed_on.nil? %>
					<%= link_to ot.current_step, ot.current_task.controller_action(ot.current_step) %>
				<% elsif !ot.current_task.completed_on.nil? %>
					Actividad completada
				<% else %>
					<%= ot.current_task.name %>
				<% end %>
			</td>
			<td><%= ot.team_members_as_string %></ot>
			<td><%= ot.observations.last.contents if ot.observations.count > 0 %>
			<td><%= ot.created_on %></td>
			<td><%= ot.updated_at %></td>
			<td><%= ot.target_date %></td>
			<td><%= ot.completed_on %></td>
				<% if current_user.role.id == 1 || current_user.role.id == 3 %>
				<td>
					<%= check_box_tag("#{ot.id}") %>
				</td>
				<% end %>
		</tr>
	<% end %>
	</tbody>
</table>
