<h1>Bandeja de entrada</h1>

<table>
	<thead>
		<tr>
			<th>Actividad</th>
			<th>Prioridad</th>
			<th>OT</th>
			<th>Estado</th>
			<th>Actualizada</th>
			<th>Completada</th>
		</tr>
	</thead>
	<tbody>
		<% @tasks.each do |task| %>
		<tr>
			<td><%= task.name %></td>
			<td><%= task.priority.name %></td>
			<td><%= task.ot.name %>
			<td><%= task.workflow_state.to_s %>
			<td><%= task.updated_at %>
			<td><%= task.completed_on %>
		</tr>
		<% end %>
	</tbody>
</table>