<table>
	<tbody>
		<tr>
			<th>Número de serie</th>
			<td><%= @ot.serial_number %></td>
		</tr>
		<tr>
			<th>Prioridad</th>
			<td><%= @ot.priority.name %></td>
		</tr>
		<tr>
			<th>Tipo de OT</th>
			<td><%= @ot.name %></td>
		</tr>
		<tr>
			<th>A pedido de:</th>
			<td><%= @ot.by_request_of %></td>
		</tr>
		<tr>
			<th>Generada por/Agrupada en:</th>
			<td><%= @ot.parent_ot.name if !@ot.parent_ot.nil? %></td>
		</tr>
		<tr><th>Documento fuente</th><td>
			<% if !@ot.source_frbr_manifestation.nil? %>
				<%= @ot.source_frbr_manifestation.name %>
			<% else %>
				Aún no se ha seleccionado
			<% end %>
		</td></tr>
		<tr><th>Documento marcado</th><td>
			<% if !@ot.target_frbr_manifestation.nil? %>
				<%= @ot.target_frbr_manifestation.name %>
			<% else %>
				Aún no se ha generado
			<% end %>
		</td></tr>
		<tr>
			<th>Creada por</th>
			<td><%= @ot.owner.user_name %></td>
		</tr>
		<tr>
			<th>Creada el</th>
			<td><%= @ot.created_on %></td>
		</tr>
		<tr>
			<th>Fecha de entrega</th>
			<td><%= @ot.target_date %></td>
		</tr>
		<tr>
			<th>Completada el</th>
			<td><%= @ot.completed_on %></td>
		</tr>
		<tr>
			<th>Tarea actual:</th>
			<td><%= @ot.current_task.name %></td>
		</tr>
		<tr>
			<th>Actividad actual:</th>
			<td><%= @ot.current_step %></td>
		</tr>
	</tbody>
</table>

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="ot-tabs">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ot-tabs-tasks">Tareas</a></li>
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ot-tabs-documents">Documentos</a></li>
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ot-tabs-automatic_markup">Marcado Automático</a></li>
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ot-tabs-observations">Observaciones</a></li>
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ot-tabs-file-versions">Versionamiento</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#ot-tabs-log">Traza</a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="ot-tabs-tasks">
		<%= render "show_tasks", :locals => {:ot => @ot } %>
	</div>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="ot-tabs-documents">
		<%= render "show_documents", :locals => {:ot => @ot } %>
	</div>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="ot-tabs-automatic_markup">
		<%= render "show_am_results", :locals => {:am_results => @am_results } %>
	</div>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="ot-tabs-observations">
		<%= render "show_observations", :locals => {:observations => @observations } %>
	</div>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="ot-tabs-file-versions">
		<%= render "show_file_versions", :locals => {:observations => @file_versions } %>
	</div>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="ot-tabs-log">
		<%= render "show_log" %>
	</div>
</div>
