<h1>Listing qualities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qualities.each do |quality| %>
  <tr>
    <td><%= quality.name %></td>
    <td><%= quality.uri %></td>
    <td><%= link_to 'Show', quality %></td>
    <td><%= link_to 'Edit', edit_quality_path(quality) %></td>
    <td><%= link_to 'Destroy', quality, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quality', new_quality_path %>
