<h1>Listing qualities</h1>

<table>
	<thead>
		<tr>
			<th>Uri</th>
			<th>Sequence</th>
			<th>Name</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @qualities.each do |quality| %>
		<tr>
			<td><%= quality.rdf_uri %></td>
			<td><%= quality.quality_id %></td>
			<td><%= quality.quality_name %></td>
			<td><%= link_to 'Show', rdf_quality_path(quality.id) %></td>
			<td><%= link_to 'Edit', edit_rdf_quality_path(quality.id) %></td>
			<td><%= link_to 'Destroy', destroy_rdf_quality_path(quality.id), confirm: 'Are you sure?' %></td>
		</tr>
		<% end %>
	<tbody>
</table>

<br />

<%= link_to 'New Quality', new_rdf_quality_path %>
