<%= form_for(@frbr_expression) do |f| %>
	<% if @frbr_expression.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@frbr_expression.errors.count, "error") %> prohibited this frbr_expression from being saved:</h2>
			<ul>
				<% @frbr_expression.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :frbr_work_id, "Obra" %><br />
	    <%= collection_select(:frbr_expression, :frbr_work_id, FrbrWork.all, :id, :name) %>
	</div>

	<div class="field">
		<%= f.label :frbr_document_type_id, "Tipo de documento" %><br />
	    <%= collection_select(:frbr_expression, :frbr_document_type_id, FrbrDocumentType.all, :id, :name) %>
	</div>

	<div class="field">
		<%= f.label :version, "Versión" %><br />
	    <%= f.text_field :version %>
	</div>

	<div class="field">
		<%= f.label :language, "Idioma" %><br />
	    <%= f.text_field :language %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
