<h1>Expresión FRBR</h1>

<p>
  <b>Obra FRBR:</b>
  <%= @frbr_expression.frbr_work.name %>
</p>

<p>
  <b>Tipo de documento FRBR:</b>
  <%= @frbr_expression.frbr_document_type.name %>
</p>


<p>
  <b>Versión:</b>
  <%= @frbr_expression.version %>
</p>


<p>
  <b>Idioma:</b>
  <%= @frbr_expression.language %>
</p>


<%= link_to 'Edit', edit_frbr_expression_path(@frbr_expression) %> |
<%= link_to 'Back', frbr_expressions_path %>
