<h1>Entidades FRBR</h1>

<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @frbr_entities.each do |frbr_entity| %>
		<tr>
			<td><%= frbr_entity.name %></td>
			<td><%= link_to 'Show', frbr_entity %></td>
			<td><%= link_to 'Edit', edit_frbr_entity_path(frbr_entity) %></td>
			<td><%= link_to 'Destroy', frbr_entity, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Frbr entity', new_frbr_entity_path %>
