<h1>Intervención</h1>
<table>
	<tr>
		<th>Cámara</th>
		<td><%= @rdf_intervention.intervention_organism %></td>
	</tr>
	<tr>
		<th>Legislatura</th>
		<td><%= @rdf_intervention.intervention_legislature %></td>
	</tr>
	<tr>
		<th>Sesión</th>
		<td><%= @rdf_intervention.intervention_session %></td>
	</tr>
	<tr>
		<th>Sección</th>
		<td><%= @rdf_intervention.intervention_ds_section %></td>
	</tr>
	<tr>
		<th>Subsección</th>
		<td><%= @rdf_intervention.intervention_ds_subsection %></td>
	</tr>
	<tr>
		<th>Persona</th>
		<td><%= @rdf_intervention.intervention_person %></td>
	</tr>
	<tr>
		<th>Tipo de participación</th>
		<td><%= ParticipationType.find_by_id(@rdf_intervention.intervention_participation_type.to_s).participation_type_name.to_s %></td>
	</tr>
	<tr>
		<th>Calidad</th>
		<td><%= Quality.find_by_id(@rdf_intervention.intervention_role.to_s).quality_name.to_s %></td>
	</tr>
	<tr>
		<th>Texto</th>
		<td><%= @rdf_intervention.intervention_text %></td>
	</tr>
</table>

<%= link_to('Volver', rdf_interventions_path)%>