<h1>Listing frbr_document_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @frbr_document_types.each do |frbr_document_type| %>
  <tr>
    <td><%= frbr_document_type.name %></td>
    <td><%= link_to 'Show', frbr_document_type %></td>
    <td><%= link_to 'Edit', edit_frbr_document_type_path(frbr_document_type) %></td>
    <td><%= link_to 'Destroy', frbr_document_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Frbr document type', new_frbr_document_type_path %>
