<%= form_for(@ot) do |f| %>
	<% if @ot.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@ot.errors.count, "error") %> prohibited this ot from being saved:</h2>
			<ul>
				<% @ot.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
	    <%= f.label(:ot_type_id, 'Tipo') %><br />
	    <%= collection_select(:ot, :ot_type_id, OtType.order("name ASC"), :id, :name) %>
	</div>

	<div class="field">
	    <%= f.label(:priority_id, 'Prioridad') %><br />
	    <%= collection_select(:ot, :priority_id, Priority.all, :id, :name) %>
	</div>

	<div class="field">
	    <%= f.label(:created_by, 'Creada por') %><br />
	    <%= collection_select(:ot, :created_by, User.all, :id, :email) %>
	</div>

	<div class="field">
		<%= f.label :created_on, "Creada el" %><br />
		<%= f.datetime_select :created_on %>
	</div>

	<div class="field">
		<%= f.label :target_date, "Fecha de entrega" %><br />
		<%= f.datetime_select :target_date %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
