<p>
  <b>Número de serie:</b>
  <%= @ot.serial_number %>
</p>

<p>
  <b>Prioridad:</b>
  <%= @ot.priority.name %>
</p>

<p>
  <b>Tipo:</b>
  <%= @ot.ot_type.name %>
</p>

<p>
  <b>Estado:</b>
  <%= @ot.ot_state.name %>
</p>

<p>
  <b>Documento fuente:</b>
  <%= @ot.source_frbr_manifestation.name if !@ot.source_frbr_manifestation.nil? %>
</p>

<p>
  <b>Documento marcado:</b>
  <%= @ot.target_frbr_manifestation.name if !@ot.target_frbr_manifestation.nil? %>
</p>

<p>
  <b>Creada por:</b>
  <%= @ot.owner.user_name %>
</p>

<p>
  <b>Creada el:</b>
  <%= @ot.created_on %>
</p>

<p>
  <b>Fecha de entrega:</b>
  <%= @ot.target_date %>
</p>


<p>
  <b>Completada el:</b>
  <%= @ot.completed_on %>
</p>


<%= link_to 'Edit', edit_ot_path(@ot) %> |
<%= link_to 'Back', ots_path %>
