<h1>Bitácora</h1>

<table>
	<thead>
		<tr>
			<th>Boletín</th>
			<th>Documento</th>
			<th>Tramite constitucional</th>
			<th>Tramite normativo</th>
			<th>Comments</th>
			<th>User</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @bitacoras.each do |bitacora| %>
		<tr>
			<td><%= bitacora.bulletin_id %></td>
			<td><%= bitacora.frbr_manifestation_id %></td>
			<td><%= bitacora.tramite_constitucional.name %></td>
			<td><%= bitacora.tramite_normativo.name %></td>
			<td><%= bitacora.comments %></td>
			<td><%= bitacora.user.user_name %></td>
			<td><%= link_to 'Show', bitacora %></td>
			<td><%= link_to 'Edit', edit_bitacora_path(bitacora) %></td>
			<td><%= link_to 'Destroy', bitacora, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Bitacora', new_bitacora_path %>
