<%= render "shared/work_header" %>

<table border="0" cellspacing="5" cellpadding="5">
	<thead>
		<tr>
			<th>Legislatura</th>
			<th>Sesión</th>
			<th>Fecha y hora</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @tp_generated_params.each do |tp_generated_param| %>
		<tr>
			<td><%= tp_generated_param.legislature %></td>
			<td><%= tp_generated_param.session %></td>
			<td><%= tp_generated_param.session_date %></td>
			<td><%= tp_generated_param.status %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= form_tag(plan_trabajo_parlamentario_genera_ots_path) %>
	<%= hidden_field_tag(:ot_id, @ot.id) %>

	<div class="actions">
		<%= submit_tag "Generar OTs" %>
	</div>
</form>

|&nbsp;<%= link_to "Modificar parametros", plan_trabajo_parlamentario_rechaza_parametros_event_path(@task.id) %>&nbsp;|

