<h1>Obras FRBR</h1>

<table>
	<thead>
		<tr>
			<th>Tipo de documento</th>
			<th>Origen</th>
			<th>Sesión</th>
			<th>Fecha de publicación</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @frbr_works.each do |frbr_work| %>
		<tr>
			<td><%= frbr_work.frbr_bcn_type.name %></td>
			<td><%= frbr_work.frbr_entity.name %></td>
			<td><%= frbr_work.session %></td>
			<td><%= frbr_work.publication_date %></td>
			<td><%= link_to 'Show', frbr_work %></td>
			<td><%= link_to 'Edit', edit_frbr_work_path(frbr_work) %></td>
			<td><%= link_to 'Destroy', frbr_work, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Frbr work', new_frbr_work_path %>
