<!DOCTYPE html>
<html>
	<head>
		<title>Bcn</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= tag :meta, :name=> 'accordion_section', :content=> @accordion_section %>
	</head>
	<body>
		<div id="main_wrapper" class="container">
			<div class="span-24">
				<%= render "shared/header" %>
			</div>

			<% if flash[:notice] %>
				<div class="span-24">
					<p class="notice"><%= flash[:notice] %></p>
				</div>
			<% end %>
			<% if flash[:alert] %>
				<div class="span-24 last">
					<p class="alert"><%= flash[:alert] %></p>
				</div>
			<% end %>

			<div id="sidebar" class="span-4">
				<%= render 'shared/main_menu' %>
			</div> <!-- "sidebar" -->
			<div class="span-20 last">
				<%= yield %>
			</div>

			<div class="span-24">
				<%= render "shared/footer" %>
			</div>
		</div>
	</body>
</html>
